.u-section-1 .u-sheet-1 {
  min-height: 3023px;
}

.u-section-1 .u-blog-1 {
  width: 950px;
  margin: 58px 58px 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 12px) calc(50% - 12px);
  grid-gap: 24px 24px;
  min-height: 2858px;
}

.u-section-1 .u-repeater-item-1 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 13px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-1 .u-image-1 {
  height: 186px;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-2 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 13px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-1 .u-image-2 {
  height: 186px;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-3 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 13px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-1 .u-image-3 {
  height: 186px;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-4 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0 13px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-1 .u-image-4 {
  height: 186px;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-5 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0 13px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-1 .u-image-5 {
  height: 186px;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-6 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0 13px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-1 .u-image-6 {
  height: 186px;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-7 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 0 13px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-1 .u-image-7 {
  height: 186px;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-8 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 0 13px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-1 .u-image-8 {
  height: 186px;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-9 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 0 13px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-1 .u-image-9 {
  height: 186px;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-10 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 0 13px;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-1 .u-image-10 {
  height: 186px;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-11 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 0 13px;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-1 .u-image-11 {
  height: 186px;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-12 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 0 13px;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-1 .u-image-12 {
  height: 186px;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-13 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 0 13px;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-1 .u-image-13 {
  height: 186px;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-14 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px 0 13px;
}

.u-section-1 .u-text-14 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-1 .u-image-14 {
  height: 186px;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-15 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 0 13px;
}

.u-section-1 .u-text-15 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-1 .u-image-15 {
  height: 186px;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-16 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px 0 13px;
}

.u-section-1 .u-text-16 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-1 .u-image-16 {
  height: 186px;
  width: 448px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-blog-1 {
    height: auto;
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 2828px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 25px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 25px;
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5720px;
  }

  .u-section-1 .u-blog-1 {
    width: 464px;
    height: auto;
    margin: 59px auto 59px 112px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 5602px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5727px;
  }

  .u-section-1 .u-blog-1 {
    width: 461px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 5609px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: -61px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: -61px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: -61px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: -61px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: -61px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: -61px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: -61px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: -61px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: -61px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: -61px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: -61px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: -61px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: -61px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: -61px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-right: -61px;
    margin-left: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2258px;
  }

  .u-section-1 .u-blog-1 {
    height: auto;
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-1 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-2 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-3 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-4 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-5 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-6 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-7 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-8 {
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-8 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-9 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-10 {
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-10 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-11 {
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-11 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-12 {
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-12 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-13 {
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-13 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-14 {
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-14 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-15 {
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-15 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-16 {
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-16 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}